<!doctype html>
<html lang="en">

<head>
  <title>Brewing Cauldron</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="brew.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--THIS IS THE FONT COLLECTION-->


  <style>
    @import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hubballi&family=Liu+Jian+Mao+Cao&family=Zilla+Slab+Highlight&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Liu+Jian+Mao+Cao&family=Zilla+Slab+Highlight&display=swap');
  </style>

  <!--END!!!!!!-->



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/profile">Home</a>
          <a class="nav-link" href="/apothecary">Apothecary</a>
          <a class="nav-link" href="/brew">I want to brew</a>
          <a class="nav-link" href="/healingtracker">Healing Journey</a>
          <a class="nav-link" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <h1 class="cauldronTitle">Brewing Cauldron</h1>
  <img class="brewingHeader" src="https://i.ibb.co/FJpm992/Brown-Simple-Ethnic-Tribal-Logo.png">


  <!--AREA WHERE THE BASES ARE SELECTED ON THE FAR LEFT OF THE PAGE-->
  <div class="container text-center">
    <div class="row">
      <div class="col basesColumn">
        <div class="card basesSection" style="width: 18rem;">
          <div class="card-header">
            Bases To Start With
          </div>
          <ul class="list-group list-group-flush basesCategories">
            <li class="list-group-item">Standard Base
              <br>
              description
            </li>
            <li class="list-group-item">Citrus Base
              <br>
              description
            </li>
            <li class="list-group-item">Dairy Base
              <br>
              description
            </li>
            <li class="list-group-item">Spiced Base
              <br>
              description
            </li>
          </ul>
        </div>
      </div>
      <div class="col createBrewCol">


        <!--THIS IS THE START OF THE RECIPE FORM TO ADD A NEW BREW-->
        <form action="/post" method="POST">
          <div class="form-group">
            <label for="exampleFormControlInput1">Name Your New Brew!</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name your brew"
              name="brewName">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Choose A Base</label>
            <select class="form-control" id="exampleFormControlSelect1" name="base">
              <option>Standard</option>
              <option>Citrus</option>
              <option>Dairy</option>
              <option>Spiced</option>

            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect2">Choose The Herbs From Your Cabinet</label>
            <select multiple class="form-control" id="exampleFormControlSelect2" name="herbSelection">
              <option>Osha Root</option>
              <option>Ginger Root</option>
              <option>Cinnamon</option>
              <option>Rosemary</option>
              <option>Calendula</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">How will you prepare your brew?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="instructions"></textarea>
          </div>
          <button>Brew Some Magick!</button>
        </form>
      </div>


      <!---THIS IS THE AREA WHERE THE RECIPES ARE SAVED ON THE FAR RIGHT-->
      <div class="col savedCol">

        <% if (brews) { %>
        <% brews.forEach(data=> { %>

        <div class="savedRecipes">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <!--THE TITLE OF THE RECIPE IS DISPLAYED HERE-->
                
                
                <h5 class="recipeTitle"><%= data.name %></h5>
                <!--THE DATE OF POSTING IS GOING TO GO HERE-->
                <small>1 day ago</small>
              </div>
              <!--THE RECIPE SNIPPET WILL BE DISPLAYED HERE-->
              <p class="mb-1">
                <%= data.base %>
                <%= data.herbSelection %>
                <%= data.instructions %>
              
              </p>
              <small>Donec id elit non mi porta.</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">

                <!--THE TITLE OF THE RECIPE IS DISPLAYED HERE-->
                <h5 class="recipeTitle">Headache Relief Tonic</h5>
                <small class="text-muted">3 days ago</small>
              </div>

              <!--THE RECIPE SNIPPET WILL BE DISPLAYED HERE-->
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">

                <!--THE TITLE OF THE RECIPE IS DISPLAYED HERE-->
                <h5 class="recipeTitle">Pain Relief Tincture</h5>
                <small class="text-muted">3 days ago</small>
              </div>

              <!--THE RECIPE SNIPPET WILL BE DISPLAYED HERE-->
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
          </div>
        </div>

        <% } ) %>
        <% } %>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>