<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Brew Work</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div id="app">
    <div class="menu-container false">
      <div class="overlay"></div>
      <div class="menu-items">
       
      </div>
    </div>
    <nav id="navbar">
    
    </nav>
    <header id="welcome-section">
      
   
      <div class="moon"></div>
      <div class="container">
        <h1>
          <span class="line"></span><span class="line">Brew </span><span class="line"><span
              class="color">Work</span></span>
        </h1>
        <div class="buttons">
          <a href="/login">login</a><a href="/signup" class="cta">signup</a>
        </div>
      </div>
    </header>
   