<!doctype html>
<html>
<head>
    <title>BrewWork</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">


      <!--THIS IS THE FONT COLLECTION-->


  <style> @import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap'); </style>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Hubballi&family=Liu+Jian+Mao+Cao&family=Zilla+Slab+Highlight&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
  <style> @import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Liu+Jian+Mao+Cao&family=Zilla+Slab+Highlight&display=swap'); </style>

  <!--END!!!!!!-->
  </html>
</head>
<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
    <header class="max-w-lg mx-auto">
      
            <h1 class="text-center loginTitle">Login To Your BrewWork Account</h1>
            <img class="signupHeader" src="https://i.ibb.co/FJpm992/Brown-Simple-Ethnic-Tribal-Logo.png">
    </header>

    <main class="max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
      

        <section class="mt-10">
            <!--I want to send the user to their dashboard page upon completion of this form-->
            <form class="flex flex-col" method="POST" action="/login">

                <div class="mb-6 pt-3 rounded bg-gray-200">
                    <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="email">Enter Your Email</label>
                    <input type="text" id="email" name="email"  class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
                </div>

                <div class="mb-6 pt-3 rounded bg-gray-200">
                    <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="password">Enter Your Password</label>
                    <input type="password" name="password" id="password" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
                </div>

                <!-- <div class="flex justify-end">
                    <a href="#" class="text-sm text-purple-600 hover:text-purple-700 hover:underline mb-6">Forgot your password?</a>
                </div> -->


                <button class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">Open My Healing Path</button>
            </form>
        </section>
    </main>

    <div class="max-w-lg mx-auto text-center mt-12 mb-6">
        <p class="text-white">Don't have a BrewWork account? <a href="/signup" class="font-bold hover:underline">Sign up, its free!</a></p>
    </div>

</body>

