/* THIS IS THE STYLESHEET FOR THE CSS TRACKER */
/*

font-family: 'Hubballi', cursive;
font-family: 'Liu Jian Mao Cao', cursive;
font-family: 'Zilla Slab Highlight', cursive;
font-family: 'Megrim', cursive;
*/
.moodTracker {
 width: 300px;
}

.navbar {
    background-color:#99080b;
    font-family: 'Hubballi', cursive;
}

body {
    font-family: 'Hubballi', cursive;
    background-color: #d79922;
}

.entriesTitle {
    font-size: 40px;
   
    
}
.journalTitle {
    font-family: 'Hubballi', cursive;
}

.journalEntryContainer {
    max-height: 70vh;
    overflow-y: scroll;
    background-color:#99080b;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:bisque;
}

.healingTitle {
    font-size: 80px;
    font-family: 'Megrim', cursive;
 

}

.healingTitleContainer {
    
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 3%;
}


.btn-success {
    background-color:#99080b;
}