/* THIS IS THE PAGE WHERE THE HERBS ARE SELECTED/FORAGED AND ADDED TO FAVORITES.  WHEN SAVED, THEY GO INTO THE CABINET */



/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}



.forageTitle {
text-align: center;
}



.checked {
    color: orange;
  }

  .addToCabinet {
    text-decoration: none;
    
  }

  .addToCabinet a {
    color: red;
  }