/* THIS IS THE PAGE WHERE THE HERBS ARE SELECTED/FORAGED AND ADDED TO FAVORITES.  WHEN SAVED, THEY GO INTO THE CABINET */

/* CSS FAMILIES

font-family: 'Hubballi', cursive;
font-family: 'Liu Jian Mao Cao', cursive;
font-family: 'Zilla Slab Highlight', cursive;

•/

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.theFont {
  font-family: 'Liu Jian Mao Cao', cursive;
  
font-size: 30px;
 
}

body {
  background-color: #d79922
}

.card {
  background-color: #EFE2BA
}

.titleFonts {
font-size: 80px;
font-family: 'Megrim', cursive;

}

.foragingBox {

  display: flex;
  flex-direction: column;
 
  
  padding-left: 15%;
  padding-right: 15%;
  margin-left: 15%;
  margin-right: 15%;
}

.addButton {
margin-left: 5%;
}

.theInputs {
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 15%;
  
}

.theInputs input {
  margin-bottom: 10%;
 
}
.container {
  font-family: 'Megrim', cursive;
 

}
.forageTitle {
text-align: center;
font-family: 'Liu Jian Mao Cao', cursive;
color: #195128;
margin-bottom: 5%;
font-size: 35px;

}

.headTitle {
  font-family: 'Megrim', cursive;
  margin-left: 35%;
  margin-top: 5%;
  margin-bottom: 5%;

}

.herbDiscoveryTitle {

  font-family: 'Megrim', cursive;
  margin-top: 10%;

}

.checked {
    color: orange;
  }

  .addToCabinet {
    text-decoration: none;
    
  }

  .card-text{
    font-size: 20px;
  }

  .addToCabinet a {
    color: red;
  }