/* ===== User profile page - The Dashboard which shows: MONTHLY HEALING PROGRESS, TIMES I'VE BREWED, HERBS IN CABINET, BREW RECIPES SAVED, LENGTH OF HEALING JOURNEY */

/*

font-family: 'Hubballi', cursive;
font-family: 'Liu Jian Mao Cao', cursive;
font-family: 'Zilla Slab Highlight', cursive;
font-family: 'Megrim', cursive;
*/

    /* background-image: url(https://images.unsplash.com/photo-1658332603826-0ca3caed1014?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80);
    background-repeat: no-repeat;
    background-size: 100%; */
body {
  background-color:#99080b;
}

.navbar {
  background-color: #d79922;
  margin-bottom: 2%;
}

.titleGraphic {
  display: flex;

  align-items: center;
}
.titleGraphic img {
  height: 400px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
  

.container {
 
    display: grid; 
    grid-template-columns: 2fr 2fr 2fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
      ". . ."
      ". . ."; 
    margin: auto;
    
    background-color: #d79922;
      border-radius: 2%;
      
width: 50%;

  }


  /* MONTHLY HEALING PROGRESS (A PROGRESS BAR TOWARDS ACHIEVEMENT) */
  .box1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Megrim', cursive;
  }




 /*THE CENTRAL LOGO BLOCK*/
  .box2 {
 
  }

  .appTitle {


  }

  .halfTitle {

  }


  /*NUMBER OF HERBS IN CABINET (A NUMBER) */

  .box3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Megrim', cursive;
  }

  /* NUMBER OF SAVED RECIPES IN CABINET (A NUMBER) */
  .box2 img {
width: 300px;
    
  }

  /* DAYS OF JOURNEY (A NUMBER OR CALENDAR) */

  .box5 {
    font-family: 'Megrim', cursive;
    font-size: 30px;
    text-align: center;
  }

  .lengthBar {

    width: 60%;
    height: 50px;
    margin-left: 30%;
    margin-top: 20%;
    
  }
 /* TIMES I'VE BREWED (A NUMBER) */
  .box6 {
    font-family: 'Megrim', cursive;
    font-size: 30px;
    text-align: center;
  }

  .brewNumber {
    font-size: 80px;
  }