/* ===== User profile page - The Dashboard which shows: MONTHLY HEALING PROGRESS, TIMES I'VE BREWED, HERBS IN CABINET, BREW RECIPES SAVED, LENGTH OF HEALING JOURNEY */

/*font-family: 'Germania One', cursive;
font-family: 'Griffy', cursive;
font-family: 'Zilla Slab Highlight', cursive;
*/

    /* background-image: url(https://images.unsplash.com/photo-1658332603826-0ca3caed1014?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80);
    background-repeat: no-repeat;
    background-size: 100%; */

    #menu {
        background: #0099CC;
        background: linear-gradient(to bottom,  #731BCC,  #0B001F);
        color: #FFF;
        height: 73px;
        padding-left: 18px;
        border-radius: 10px;
    }
    #menu ul, #menu li {
        margin: 0 auto;
        padding: 0;
        list-style: none
    }
    #menu ul {
        width: 100%;
    }
    #menu li {
        float: left;
        display: inline;
        position: relative;
    }
    #menu a {
        display: block;
        line-height: 73px;
        padding: 0 14px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 19px;
        text-transform: lowercase;
    }
    #menu a.dropdown-arrow:after {
        content: "\25BE";
        margin-left: 5px;
    }
    #menu li a:hover {
        color: #7914C7;
        background: #000000;
    }
    #menu input {
        display: none;
        margin: 0;
        padding: 0;
        height: 73px;
        width: 100%;
        opacity: 0;
        cursor: pointer
    }
    #menu label {
        display: none;
        line-height: 73px;
        text-align: center;
        position: absolute;
        left: 35px
    }
    #menu label:before {
        font-size: 1.6em;
        content: "\2261"; 
        margin-left: 20px;
    }
    #menu ul.sub-menus{
        height: auto;
        overflow: hidden;
        width: 170px;
        background: #444444;
        position: absolute;
        z-index: 99;
        display: none;
    }
    #menu ul.sub-menus li {
        display: block;
        width: 100%;
    }
    #menu ul.sub-menus a {
        color: #FFFFFF;
        font-size: 16px;
    }
    #menu li:hover ul.sub-menus {
        display: block
    }
    #menu ul.sub-menus a:hover{
        background: #F2F2F2;
        color: #444444;
    }
    @media screen and (max-width: 800px){
        #menu {position:relative}
        #menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
        #menu ul.sub-menus {width:100%;position:static;}
        #menu ul.sub-menus a {padding-left:30px;}
        #menu li {display:block;float:none;width:auto;}
        #menu input, #menu label {position:absolute;top:0;left:0;display:block}
        #menu input {z-index:4}
        #menu input:checked + label {color:white}
        #menu input:checked + label:before {content:"\00d7"}
        #menu input:checked ~ ul {display:block}
    }

    
.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  
  img {
    max-width: 100%;
  }
  
  body {
    background-color: #000;
  }
  .ag-smoke-block {
    z-index: 4;
    position: relative;
  }
  .ag-smoke-1 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
  
    -webkit-animation: an-smoke-1 6s ease-in-out infinite;
    -moz-animation: an-smoke-1 6s ease-in-out infinite;
    -o-animation: an-smoke-1 6s ease-in-out infinite;
    animation: an-smoke-1 6s ease-in-out infinite;
  }
  .ag-smoke-2 {
    width: 57.1em;
  
    z-index: -2;
    top: 7em;
  }
  .ag-smoke-2,
  .ag-smoke-3 {
    position: absolute;
    left: 0;
  
    -webkit-animation: an-smoke-2 6s ease-in-out infinite;
    -moz-animation: an-smoke-2 6s ease-in-out infinite;
    -o-animation: an-smoke-2 6s ease-in-out infinite;
    animation: an-smoke-2 6s ease-in-out infinite;
  }
  .ag-smoke-3 {
    width: 100%;
  
    z-index: -4;
    top: -32em;
  }
  .ag-smoke-4 {
    width: 61.4em;
  
    z-index: -3;
    position: absolute;
    top: 12em;
    right: 0;
  
    -webkit-animation: an-smoke-3 6s ease-in-out infinite;
    -moz-animation: an-smoke-3 6s ease-in-out infinite;
    -o-animation: an-smoke-3 6s ease-in-out infinite;
    animation: an-smoke-3 6s ease-in-out infinite;
  }
  .ag-smoke__delay-1 {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
  }
  .ag-smoke__delay-2 {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
  }
  
  @-webkit-keyframes an-smoke-1 {
    0% {
      opacity: 0;
  
      -webkit-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -webkit-transform: translateY(0) rotate(.01deg);
      transform: translateY(0) rotate(.01deg);
    }
  }
  @-moz-keyframes an-smoke-1 {
    0% {
      opacity: 0;
  
      -moz-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -moz-transform: translateY(0) rotate(.01deg);
      transform: translateY(0) rotate(.01deg);
    }
  }
  @-o-keyframes an-smoke-1 {
    0% {
      opacity: 0;
  
      -o-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -o-transform: translateY(0) rotate(.01deg);
      transform: translateY(0) rotate(.01deg);
    }
  }
  @keyframes an-smoke-1 {
    0% {
      opacity: 0;
  
      -webkit-transform: translateY(5%) rotate(.01deg);
      -moz-transform: translateY(5%) rotate(.01deg);
      -o-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -webkit-transform: translateY(0) rotate(.01deg);
      -moz-transform: translateY(0) rotate(.01deg);
      -o-transform: translateY(0) rotate(.01deg);
      transform: translateY(0) rotate(.01deg);
    }
  }
  
  @-webkit-keyframes an-smoke-2 {
    0% {
      opacity: 0;
  
      -webkit-transform: translate(-10%, 10%) rotate(.01deg);
      transform: translate(-10%, 10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -webkit-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
  }
  @-moz-keyframes an-smoke-2 {
    0% {
      opacity: 0;
  
      -moz-transform: translate(-10%, 10%) rotate(.01deg);
      transform: translate(-10%, 10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -moz-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
  }
  @-o-keyframes an-smoke-2 {
    0% {
      opacity: 0;
  
      -o-transform: translate(-10%, 10%) rotate(.01deg);
      transform: translate(-10%, 10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -o-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
  }
  @keyframes an-smoke-2 {
    0% {
      opacity: 0;
  
      -webkit-transform: translate(-10%, 10%) rotate(.01deg);
      -moz-transform: translate(-10%, 10%) rotate(.01deg);
      -o-transform: translate(-10%, 10%) rotate(.01deg);
      transform: translate(-10%, 10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -webkit-transform: translateY(5%) rotate(.01deg);
      -moz-transform: translateY(5%) rotate(.01deg);
      -o-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
  }
  
  @-webkit-keyframes an-smoke-3 {
    0% {
      opacity: 0;
  
      -webkit-transform: translateY(10%) rotate(.01deg);
      transform: translateY(10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -webkit-transform: translate(-10%, 5%) rotate(.01deg);
      transform: translate(-10%, 5%) rotate(.01deg);
    }
  }
  @-moz-keyframes an-smoke-3 {
    0% {
      opacity: 0;
  
      -moz-transform: translateY(10%) rotate(.01deg);
      transform: translateY(10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -moz-transform: translate(-10%, 5%) rotate(.01deg);
      transform: translate(-10%, 5%) rotate(.01deg);
    }
  }
  @-o-keyframes an-smoke-3 {
    0% {
      opacity: 0;
  
      -o-transform: translateY(10%) rotate(.01deg);
      transform: translateY(10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -o-transform: translate(-10%, 5%) rotate(.01deg);
      transform: translate(-10%, 5%) rotate(.01deg);
    }
  }
  @keyframes an-smoke-3 {
    0% {
      opacity: 0;
  
      -webkit-transform: translateY(10%) rotate(.01deg);
      -moz-transform: translateY(10%) rotate(.01deg);
      -o-transform: translateY(10%) rotate(.01deg);
      transform: translateY(10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -webkit-transform: translate(-10%, 5%) rotate(.01deg);
      -moz-transform: translate(-10%, 5%) rotate(.01deg);
      -o-transform: translate(-10%, 5%) rotate(.01deg);
      transform: translate(-10%, 5%) rotate(.01deg);
    }
  }
  
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  
  @media only screen and (max-width: 639px) {
  
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }
  

.container {
    display: grid; 
    grid-template-columns: 2fr 2fr 2fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
      ". . ."
      ". . ."; 
    margin: auto;
    
      opacity: 0.4;
      border-radius: 2%;
      background: rgb(107, 30, 207);
background: radial-gradient(circle, rgb(194, 110, 244) 0%, rgb(112, 0, 43) 100%);
width: 50%;
font-family: 'Germania One', cursive;
  }


  /* MONTHLY HEALING PROGRESS (A PROGRESS BAR TOWARDS ACHIEVEMENT) */
  .box1 {
    font-size: 30px;
    text-align: center;
    
  }

  .healingBar{
    width: 60%;
    height: 50px;
    margin-left: 20%;
    margin-top: 20%;
  }


 /*THE CENTRAL LOGO BLOCK*/
  .box2 {
   
    display: flex;
    flex-direction: row;
    font-family: 'Griffy', cursive;
  }

  .appTitle {
font-size: 50px;
width: 30%;

  }

  .halfTitle {
    font-size: 50px;
    color: rgb(62, 1, 115);

    width: 30%;
  }


  /*NUMBER OF HERBS IN CABINET (A NUMBER) */

  .box3 {
    text-align: center;
    font-size: 30px;
  }

  /* NUMBER OF SAVED RECIPES IN CABINET (A NUMBER) */
  .box4 {
    text-align: center;
    font-size: 30px;    
  }

  /* DAYS OF JOURNEY (A NUMBER OR CALENDAR) */

  .box5 {
    font-size: 30px;
    text-align: center;
  }

  .lengthBar {

    width: 60%;
    height: 50px;
    margin-left: 30%;
    margin-top: 20%;
    
  }
 /* TIMES I'VE BREWED (A NUMBER) */
  .box6 {

    font-size: 30px;
    text-align: center;
  }

  .brewNumber {
    font-size: 80px;
  }